/node_modules
/public/
!/public/.htaccess
!/public/index.php
!/public/robots.txt
!/public/web.config
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
yarn.lock
composer.lock
npm-debug.log
stats.json
migrate/config.php
