body
    background $bgColor
    color $mainBodyColor
    font-family 'Roboto', sans-serif
    font-size 16px
    font-weight 400

.container
    padding 0 $sidePadding

header()
    color #556069
    font-size 18px
    font-weight 500
