body
    background $bgColor
    color $mainBodyColor
    font-family 'Roboto', sans-serif
    font-size 16px
    font-weight 400

header()
    color #556069
    font-size 18px
    font-weight 500

h3
    header()

h1
    header()
    font-size 25px
    font-weight 700

    .fa
        margin-right 5px
