.feedback
    padding 10px 15px
    margin 20px 0 0 0
    border-radius 2px

    .fa
        display inline-block
        margin-right 10px

.feedback--error
    background #FDEBE8
    color #EE8574
    font-weight 500
