.text-input
    letter-spacing -0.02em

    &:placeholder
        color #B1B9C0

.text-input--with-icon
    .fa
        display inline-block
        margin-right 10px

.text-input--with-icon--unfocused
    .fa
        color #B1B9C0

.form__surround
    margin-top 50px
    padding 50px 40px
    background #FFF
    text-align center

.input--large
    background #FFF
    border none
    padding 15px 20px 16px 20px
    font-size 15px
    font-weight 400
    border-radius 4px
    width 100%

.input--grey-bg
    background #F4F8F9

label
    display block
