.text-input
    letter-spacing -0.02em

    &:placeholder
        color #B1B9C0

.text-input--with-icon
    .fa
        display inline-block
        margin-right 10px

.text-input--with-icon--unfocused
    .fa
        color #B1B9C0
