header
    background $headerColor
    padding 10px $sidePadding
    line-height 21px

    h1 a
        color #FFF
        font-weight bold
        font-size 20px
        float left
        display block

        .fa
            margin-right 10px

.header__right
    float right
    text-align right

.header__right__item
    display inline-block
    margin-left 30px
    color #FFF
    font-weight 500

.header__right__item:hover
    opacity 0.7

.header__right__item .fa
    margin-right 5px
