.hide-markers
    display none
    right 41px
    bottom 52px
    color #FFF
    font-size 13px
    padding 5px 10px
    position absolute
    background rgba(0,0,0,.5)
    z-index 2

    .fa
        margin-right 5px

.hide-markers__ignore
    display none
    right 10px
    bottom 52px
    color #FFF
    font-size 13px
    padding 5px 10px
    position absolute
    background rgba(0,0,0,.5)
    z-index 2
