.mission-list
    display none
    padding-bottom 60px

.mission-list--active
    display block

.mission-list--hide
    display none

.mission-list__sort--asc:hover
    cursor n-resize

.mission-list__sort--desc:hover
    cursor s-resize

.mission-list__tabs
    border-bottom 1px solid #E7EFF0
    padding 20px $sidePadding 0

.mission-list__tab
    display inline-block
    padding 15px 0
    margin-right 30px
    header()
    color #A4AEB5
    position relative

    &:hover
        color #556069

    &--active
        color #556069

        &:after
            content ''
            background #41B7D9
            height 3px
            position absolute
            bottom 0
            left 0
            right 0

.mission-list__filters
    padding-top 25px

    *
        display inline-block

.mission-list__table-title
    font-weight 500
    display inline-block
    margin-right 30px

.mission-list__search
    background none
    border none
    font-size 16px
    display inline-block
    font-weight 500
    position relative

.mission-list table
    text-align left
    margin-top 30px
    border-spacing 0 10px
    border-collapse separate
    width 100%

.mission-list th
    text-transform uppercase
    color #ABB4BA
    font-weight 500
    font-size 14px

.mission-list tbody tr
    background #FFF
    margin-top 10px

.mission-list td
    padding 20px 30px

.mission-list th
    padding 0 30px 5px

.mission-list tbody td
    font-size 14px
    font-weight 400

.mission-list__item__name
    font-weight 500
    font-size 17px

.mission-list__item__in-progress-icon
    margin-right 10px
    display inline-block
    animation spin 3s infinite linear
    transform-origin 50% 70%

@keyframes spin
    0%
        transform rotate(0deg)

    100%
        transform rotate(360deg)
