.new-user
    text-align center

.new-user__icon
    font-size 70px
    color #6AB73B
    margin-bottom 30px

.new-user__intro
    margin 15px 0 50px 0
    line-height 24px

.new-user__input
    max-width 300px
    margin-right 15px
