#toast-container
    right 1%
    top 1%

.toast
    padding 0
    background none
    box-shadow none
    margin-top 5px
    word-break normal
    min-height 0

.notification
    font-size 13px
    padding 5px 10px

.notification--info
    background #666 !important

.notification--warning
    background #934A86 !important

.notification--error
    background #E3233C !important
