.playback-container
    position absolute
    top 0px
    right 0px
    bottom 0px
    left 0px
    z-index 1

.playback-container__map
    position relative
    width 100%
    height 100%
    background-color #C7E6FC
    z-index 1

    .leaflet-control-zoom
        @media (max-width 450px)
            display none
