.player-list
    top 0px
    left 0px
    bottom 0px
    overflow hidden
    position absolute
    background rgba(0,0,0,.7)
    transition opacity 0.3s ease-in-out;
    transition background 0.3s ease-in-out;
    color #FFF
    width 186px
    z-index 2
    display none

    &--inactive
        opacity 0.3
        background rgba(0,0,0,0.1)

        .player-list__group__member img
            opacity 0.3

    @media (max-width 650px)
        display none !important

.player-list__content
    padding 10px 10px 10px 5px

.player-list__faction
    text-transform uppercase
    letter-spacing 0.03em

.player-list__group
    text-transform none
    color #FFF
    margin 5px 0 0 2px
    font-size 13px

.player-list__faction
.player-list__group
    padding-left 13px
    font-size 15px
    font-weight 700
    position relative
    margin-bottom 10px

    .expand-handle
        color #FFF
        display block

        &:before
            left 0
            top 2px
            position absolute
            font-size 12px
            content "\f0da"
            font-family FontAwesome
            color #CCC

        &.expand
            &:before
                content "\f0d7"

        &.collapse + .expand-list
            display none

.player-list__group .expand-handle:before
    top 1px

.player-list__group__member
    padding 1px 10px 1px 5px
    color #FFF
    font-size 13px
    display block
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    min-width 153px
    position relative

    &--tracking
        background #CCC
        color #000

    &--stop-tracking
        animation trackingFlash 0.3s
        animation-iteration-count 4

    img
        display inline-block
        margin-right 5px
        width 12px
        vertical-align sub

@keyframes trackingFlash
    0%
        background #CCC
    100%
        background none
