.playback-container
    position absolute
    top 0px
    right 0px
    bottom 0px
    left 0px
    z-index 1

.playback-container__map
    position relative
    width 100%
    height 100%
    background-color #C7E6FC
    z-index 1

    .leaflet-control-zoom
        @media (max-width 450px)
            display none

.playback-container__back
    display block
    width 100%
    color #B7C0C6
    font-size 13px
    font-weight 500
    vertical-align middle
    padding 10px
    border-bottom 1px solid #666
    text-transform uppercase

    &:hover
        background #CCC
        color #000

    .fa
        display inline-block
        margin-right 5px
        vertical-align text-top
