.timeline
    left 50%
    right 10px
    bottom 10px
    height 36px
    overflow hidden
    position absolute
    background rgba(0,0,0,.5)
    z-index 2

    &--loading
        &:after
            content 'Loading playback...'
            position absolute
            left 120px
            font-size 15px
            color #FFF
            top 7px

    &__slider
        position absolute
        top 9px
        left 120px
        right 60px


    &__toggle-playback
        color #FFF
        position absolute
        display block
        left 10px
        top 9px

        &:hover
            opacity .8

    &__speed
        position absolute
        left 33px
        color #AAA
        top 9px
        display block
        font-size 13px

        &.x30
            left 62px
        &.x60
            left 91px
        &--active
            color #FFF
        &:hover
            color #EEE

    &__share
    &__fullscreen
        color #FFF
        position absolute
        display block
        right 37px
        top 9px

        &:hover
            opacity .8

    &__fullscreen
        right 10px

    +below(650px)
        left 10px

    .fa
        font-size 19px

&.noUi-horizontal .noUi-handle
    padding 6px 0 0 9px
    font-size 13px

    &.left-time
        text-indent -62px
        color #000

.noUi-horizontal .noUi-handle
    box-shadow none
    border none
    background none
    border-radius 0
    width 8px
    left -4px
    color #FFF

    &:hover
        cursor col-resize

    &:before
        display none

    &:after
        width 2px
        background #FFF
        height 22px
        top 4px
        left 3px

.noUi-origin
.noUi-target
    border none
    border-radius 0px
    background #030303
    box-shadow none !important

.noUi-connect
    background #FFF
