@import '~styles/config/variables.styl'

.text-link
    color $linkPrimaryColor
    position relative

.text-link--with-icon
    .fa
        display inline-block
        margin-right 13px

.text-link--with-underline
    border-bottom 1px solid $linkPrimaryColor
