button()
    font-weight 700
    font-size 14px
    background $buttonPrimaryColor
    color #FFF
    border-radius $borderRadiusSmall
    padding 15px 30px
    display inline-block
    text-align center
    transition all 0.3s ease 0s
    vertical-align middle

    &:hover
        cursor pointer

.button
    button()

.button:hover
    background-color $buttonSecondaryColor

.button--with-icon
    .fa
        margin-right 5px
        vertical-align middle

.button--wider
    padding-left 40px
    padding-right 40px

.button--disabled
    background $disabledColor

    .fa
        display none

.button--disabled:hover
    background-color $disabledColor
    cursor not-allowed

.button--alt
    background-color $buttonSecondaryColor

.button--alt:hover
    opacity 0.8

.button--negative
    background-color $errorPrimaryColor

.button--loading .fa
    display none
