.checkbox__container
    display inline-block
    position relative

.checkbox__container input[type="checkbox"]
    position absolute
    left -9999px

.checkbox__container input[type="checkbox"] + label
    position relative
    padding-left 30px
    cursor pointer
    display inline-block
    height 20px
    line-height 20px
    font-size 14px
    user-select none

    &:after
    &:before
        content ''
        position absolute

    &:before
        content '\f00c'
        font-family FontAwesome
        top 1px
        left 5px
        z-index 0
        color $buttonPrimaryColor
        font-size 11px
        z-index 1

    &:after
        border 2px solid $borderPrimaryColor
        border-radius $borderRadiusSmall
        z-index 0
        width 20px
        height 20px
        left 0

.checkbox__container input[type="checkbox"]:not(:checked)
    & + label:before
        display none

    & + label:after
        background-color transparent
        border-color $bodyTextSecondaryColor

.checkbox__container input[type="checkbox"]:checked
    & + label:before
        display block

    & + label:after
        border-color $buttonPrimaryColor
