.radio__container
    display inline-block
    position relative

.radio__container input[type="radio"]
    position absolute
    left -9999px

.radio__container input[type="radio"] + label
    position relative
    padding-left 30px
    cursor pointer
    display inline-block
    height 20px
    line-height 20px
    font-size 14px
    user-select none

    &:after
    &:before
        content ''
        position absolute
        left 0
        top 50%
        transform translateY(-50%)

    &:before
        left 5px
        width 10px
        height @width
        background $buttonPrimaryColor
        border-radius 50%
        z-index 1

    &:after
        border 2px solid $borderPrimaryColor
        border-radius 50%
        z-index 0
        width 20px
        height 20px

.radio__container input[type="radio"]:not(:checked)
    & + label:before
        display none

    & + label:after
        background-color transparent
        border-color $bodyTextSecondaryColor

.radio__container input[type="radio"]:checked
    & + label:before
        display block

    & + label:after
        border-color $buttonPrimaryColor

.radio__container--grid
    margin-right 10px

    +below(1000px)
        margin-bottom 20px

.radio__container--grid:last-child
    margin-right 0

.radio__container--grid input[type="radio"] + label
    border 2px solid $borderPrimaryColor
    border-radius $borderRadiusSmall
    padding 30px 50px 30px 75px
    height auto

.radio__container--grid input[type="radio"] + label:after
    left 25px
    width 25px
    height @width

.radio__container--grid input[type="radio"] + label:before
    left 30px
    width 15px
    height @width

.radio__container--grid input[type="radio"]:checked + label
    border-color $buttonPrimaryColor

.radio__container__title,
.radio__container__description
    display block

.radio__container__title
    font-weight 700

.radio__container__description
    font-weight 400
    font-size 13px
    color $bodyTextSecondaryColor
