bodyFont()
    font-family 'Open Sans', sans-serif
    font-size 15px
    line-height 20px
    font-weight 400
    color $mainBodyColor

headerFont()
    font-family 'Roboto', sans-serif
    font-weight 700

buttonLabelsMetaContent()
    bodyFont()
    font-size 15px
    font-weight 700

metaFont()
    bodyFont()
    color $secondaryBodyColor

body
    bodyFont()
    color $mainBodyColor

h1()
    headerFont()
    font-size 32px
    line-height 38px

h1
    h1()

h2()
    headerFont()
    font-size 26px
    line-height 30px

h2
    h2()

h3()
    bodyFont()
    font-size 22px
    line-height 25px
    font-weight 400

h3
    h3()

h4()
    headerFont()
    font-size 18px
    line-height 20px

h4
    h4()

.font-weight--regular
    font-weight 500

.wf-loading a
.wf-loading h1
.wf-loading h2
.wf-loading h3
.wf-loading h4
    visibility hidden

strong
    font-weight 700
