bodyFont()
    font-family 'Open Sans', sans-serif
    font-size 15px
    line-height 20px
    font-weight 400
    color $bodyTextPrimaryColor

headerFont()
    font-family 'Roboto', sans-serif
    font-weight 700

buttonLabelsMetaContent()
    bodyFont()
    font-size 15px
    font-weight 700

metaFont()
    bodyFont()
    color $bodyTextSecondaryColor

header()
    color #556069
    font-size 18px
    font-weight 500

h3
    header()

h1
    header()
    font-size 25px
    font-weight 700

    .fa
        margin-right 5px

.font-weight--regular
    font-weight 500

.wf-loading a
.wf-loading h1
.wf-loading h2
.wf-loading h3
.wf-loading h4
    visibility hidden

strong
    font-weight 700

