$trackPlayerColor = #6D62AE
$mainThemeColor = #6D62AE

$colorIndi = #176804
$colorOpfor = #ff0000
$colorBlufor = #0c00ff
$colorCivilian = #960edd

$backgroundPrimaryColor = #F4F8F9
$backgroundSecondaryColor = #FAFAFA
$backgroundHighLightcolor = #F7F7F7

$bodyTextPrimaryColor = #48545D
$bodyTextSecondaryColor = #6c6c6c

$borderPrimaryColor = #e7eff0
$borderSecondaryColor = #AAA

$errorPrimaryColor = #E26667
$errorSecondaryColor = #e46565

$successPrimaryColor = #71CFB7
$successSecondaryColor = #6dd0b7
$successDarkerColor = #1D9E74

$navBackgroundColor = $mainThemeColor
$linkPrimaryColor = #546e7a
$secondaryHighlightColor = #B467D0

$buttonPrimaryColor = $mainThemeColor
$buttonSecondaryColor = #0E6B95

$disabledColor = #DCDCDC
