$marginTiny = 5px
$marginSmall = 10px
$marginMedium = 20px
$marginLarge = 40px
$marginHuge = 60px

.margin__top--small
    margin-top $marginSmall

.margin__top--medium
    margin-top $marginMedium

.margin__top--large
    margin-top $marginLarge

.margin__top--huge
    margin-top $marginHuge

.margin__top--none
    margin-top 0

.margin__bottom--small
    margin-bottom $marginSmall

.margin__bottom--medium
    margin-bottom $marginMedium

.margin__bottom--large
    margin-bottom $marginLarge

.margin__right--tiny
    margin-left $marginTiny

.margin__right--small
    margin-right $marginSmall

.margin__right--medium
    margin-right $marginMedium

.margin__right--large
    margin-right $marginLarge

.margin__left--small
    margin-left $marginSmall

.margin__left--medium
    margin-left $marginMedium

.margin__left--large
    margin-left $marginLarge
